/* GLOBAL CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-size: 16px;
  color: rgb(99, 99, 99);
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 1.6;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.button {
  text-transform: uppercase;
  font-size: 0.9375rem;
  font-weight: 500;
  background-image: linear-gradient(
    to right,
    rgb(245, 95, 141) 0px,
    rgb(248, 174, 86) 51%,
    rgb(245, 95, 141) 100%
  );
  background-size: 200%;
  padding: 20px 35px;
  cursor: pointer;
  border-radius: 30px;
  color: white;
  border-color: transparent;
  transition: all 0.5s;
}

.title h2 {
  font-size: 4.375rem;
  line-height: 1.1;
  font-weight: 800;
  color: #262626;
  margin-bottom: 20px;
}

.title h4 {
  font-size: 1.375rem;
  font-weight: 600;
  margin-bottom: 20px;
  color: #f55f8d;
}

.button:hover {
  background-position: right center;
}

.section {
  padding-top: 115px;
}

/* HEADER CSS */
header {
  position: absolute;
  width: 100%;
}

header .header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .header__content nav {
  display: flex;
  align-items: center;
}

header .header__content nav ul {
  display: flex;
  list-style: none;
}

header .header__content nav ul li {
  padding: 55px 15px;
}

header .header__content nav ul a {
  text-decoration: none;
  font-weight: 500;
  color: #070120;
}

header .header__content nav ul a:hover {
  color: #f55f8d;
}

header .header__content nav ul a span {
  font-size: 0.9375rem;
  display: inline-block;
}

header .header__content nav ul a:hover span {
  animation: upToDown 0.3s linear 0s 1;
}

header .header__content nav ul a svg {
  font-size: 9px;
  margin-top: -3px;
  vertical-align: middle;
}

/* BANNER CSS */
.banner {
  background-image: url(./../img/pic2.png);
  background-position: top;
  background-size: 100%;
  overflow: hidden;
  padding-top: 180px;
}

.banner .banner__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.banner .banner__content .banner__left {
  width: 60%;
}

.banner .banner__content .banner__left p {
  font-size: 1.125rem;
  margin-bottom: 15px;
}

.banner .banner__content .banner__left ul {
  list-style: none;
  margin-bottom: 20px;
}

.banner .banner__content .banner__left li {
  padding: 10px 5px 10px 0;
  font-size: 1.25rem;
}

.banner .banner__content .banner__left li i {
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  color: white;
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  background-size: 200%;
  border-radius: 50%;
  margin-right: 10px;
  font-weight: 900;
  font-size: 1.5rem;
}

.banner .banner__content .banner__right {
  width: 40%;
}

.banner .banner__content .banner__right img {
  margin-left: 50px;
}

/* SERVICES CSS */
.services {
  background-image: url(./../img/bg2.png);
  background-size: cover;
  background-position: top center;
  text-align: center;
}

.service__content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 40px;
  gap: 30px;
}

.services .service__content .service__item {
  padding: 30px 45px;
  box-shadow: 0 0 60px 0 rgba(0, 0, 0, 0.1);
  background-color: white;
  border: 3px solid transparent;
  /* border-image: 100 round; */
  transform: translateY(0);
  transition: all 0.5s;
}

.services .service__content .service__item:hover {
  transform: translateY(-20px);
  border-image: url(./../img/br.png) 1 round;
}

.services .service__content .service__item h3 {
  font-weight: 700;
  font-size: 1.5rem;
  color: #262626;
  margin: 15px 0;
}

.services .service__content .service__item img {
  width: 100%;
}

/* ABOUT CSS */
.about {
  background-image: url(./../img/bg15.png);
  background-size: 100%;
  background-position: center right;
  background-repeat: no-repeat;
  overflow: hidden;
  padding-bottom: 85px;
}

.about .about__content {
  display: flex;
  justify-content: end;
  align-items: center;
  position: relative;
}

.about .about__content .about__left {
  width: 60%;
  position: absolute;
  left: -17%;
}

.about .about__content .about__left img {
  width: 100%;
  border-radius: 0 100px 100px 0;
}
.about .about__content .about__right {
  width: 50%;
}

.about .about__content .about__right .about__title p {
  margin-bottom: 15px;
}
.about .about__content .about__right .about__title ul {
  list-style: none;
  margin-bottom: 30px;
}

.about .about__content .about__right .about__title li i {
  color: #f55f8d;
  margin-right: 10px;
  vertical-align: middle;
  font-size: 1.5rem;
}

/* NUMBER CSS */
.number {
  background-image: url(./../img/bg14.png);
  background-position: center;
  background-repeat: no-repeat;
  padding: 80px 0 50px;
  text-align: center;
}

.number .number__content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.number .number__content .number__item i {
  font-size: 45px;
  width: 80px;
  height: 80px;
  line-height: 80px;
  border-radius: 50%;
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  color: white;
  background-size: 200%;
  display: inline-block;
  margin-bottom: 15px;
}

.number .number__content .number__item p:first-of-type {
  font-size: 65px;
  font-weight: 800;
  color: #f55f8d;
  line-height: 1;
}

.number .number__content .number__item p:last-child {
  color: #262626;
  font-size: 18px;
}

/* FEATURES CSS */
.features {
  background-image: url(./../img/bg2.png);
  background-position: center;
  background-repeat: no-repeat;
  padding-bottom: 0;
  overflow: hidden;
  background-size: 100%;
}

.features .container {
  display: flex;
}

.features .features__left,
.features .features__right {
  width: 50%;
}

.features .features__left .features__content .features__item {
  padding: 0 50px 30px 0;
}

.features .features__left .features__content .features__item:nth-child(2) {
  padding: 0 0 30px 50px;
}

.features .features__left .features__content .features__item-bg {
  box-shadow: 0 0px 60px 0px rgb(0 0 0 / 10%);
  padding: 30px;
  background-color: #fff;
  border-radius: 10px;
  display: flex;
  align-items: center;
  position: relative;
}

.features .features__left .features__content .features__item-bg::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 0.5s;
}

.features .features__left .features__content .features__item-bg i {
  font-size: 80px;
  line-height: 1;
  color: #f55f8d;
  margin-right: 25px;
  z-index: 1;
  transition: all 1s;
}

.features
  .features__left
  .features__content
  .features__item-bg
  .features__text
  h4 {
  font-weight: 800;
  color: #262626;
  font-size: 1.5rem;
  z-index: 1;
  position: relative;
  transition: all 1s;
}

.features
  .features__left
  .features__content
  .features__item-bg
  .features__text
  p {
  z-index: 1;
  position: relative;
  transition: all 1s;
}

.features .features__left .features__content .features__item-bg:hover::after {
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  background-size: 200%;
  border-radius: 10px;
  z-index: 0;
  opacity: 1;
}

.features .features__left .features__content .features__item-bg:hover i {
  color: white;
}

.features
  .features__left
  .features__content
  .features__item-bg:hover
  .features__text
  h4 {
  color: white;
}

.features
  .features__left
  .features__content
  .features__item-bg:hover
  .features__text
  p {
  color: white;
}

.features .features__right .features__banner {
  margin-right: -80px;
}
.features .features__right .features__banner img {
  max-width: 100%;
  animation: move 5s infinite;
}

/* PORTFOLIO CSS */
.portfolio .portfolio__title {
  text-align: center;
}

.portfolio .portfolio__content {
  display: grid;
  grid-template-columns: repeat(2, 1fr) 1.5fr;
  gap: 35px;
}

.portfolio .portfolio__content .portfolio__item {
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}

.portfolio .portfolio__content .portfolio__item:first-child {
  grid-column: 1 / span 2;
}

.portfolio .portfolio__content .portfolio__item:nth-child(5) {
  grid-column: 1 / span 2;
}

.portfolio .portfolio__content .portfolio__item:last-child {
  grid-row: 2 / span 2;
  grid-column: 3 / span 1;
}
.portfolio .portfolio__content .portfolio__item::before {
  content: "";
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  left: -100%;
  display: block;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.3) 100%
  );
  transform: skewX(-25deg);
  transition: all 0.75s;
}

.portfolio .portfolio__content .portfolio__item:hover::before {
  left: 125%;
}

.portfolio .portfolio__content .portfolio__item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.portfolio
  .portfolio__content
  .portfolio__item:hover
  .portfolio__overlay
  .portfolio__icon {
  opacity: 1;
  transform: translate(0);
}

.portfolio
  .portfolio__content
  .portfolio__item:hover
  .portfolio__overlay
  .portfolio__text {
  transform: translate(0);
}

.portfolio .portfolio__content .portfolio__item .portfolio__overlay {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.portfolio
  .portfolio__content
  .portfolio__item
  .portfolio__overlay
  .portfolio__icon {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  line-height: 50px;
  background: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
  text-align: center;
  border-radius: 10px;
  background-size: 200%;
  opacity: 0;
  transform: translate(20px, -20px);
  transition: all 0.5s;
}

.portfolio
  .portfolio__content
  .portfolio__item
  .portfolio__overlay
  .portfolio__icon
  a {
  font-size: 28px;
  color: #fff;
}

.portfolio
  .portfolio__content
  .portfolio__item
  .portfolio__overlay
  .portfolio__text {
  position: absolute;
  bottom: 30px;
  left: 30px;
  text-align: left;
  transform: translateY(150px);
  transition: all 0.5s;
}

.portfolio
  .portfolio__content
  .portfolio__item
  .portfolio__overlay
  .portfolio__text
  h3 {
  font-size: 22px;
  font-weight: 800;
  color: white;
}

.portfolio
  .portfolio__content
  .portfolio__item
  .portfolio__overlay
  .portfolio__text
  p {
  color: #fff;
  opacity: 0.7;
}

/* BLOG CSS */
.blog {
  background-image: url(./../img/bg16.png);
  background-size: cover;
  padding-bottom: 50px;
  background-position: center top;
}

.blog .blog__title {
  text-align: center;
}

.blog .blog__bg {
  padding: 0 10px;
}

.blog .blog__item {
  background-color: #feeff3;
  border-radius: 8px;
}

.blog .blog__item .blog__header {
  position: relative;
}

.blog .blog__item .blog__header img {
  width: 100%;
  border-radius: 8px;
}

.blog .blog__item .blog__header p {
  background-image: linear-gradient(
    to right,
    rgb(245, 95, 141) 0px,
    rgb(248, 174, 86) 51%,
    rgb(245, 95, 141) 100%
  );
  background-size: 200%;
  font-size: 14px;
  color: white;
  position: absolute;
  bottom: -20px;
  left: 15px;
  border-radius: 6px;
  padding: 10px 20px;
}

.blog .blog__item .blog__body {
  line-height: 1.4;
  margin-bottom: 20px;
  padding: 30px 15px 20px;
}

.blog .blog__item .blog__body h3 {
  font-size: 1.5rem;
  font-weight: 700;
  color: rgb(38, 38, 38);
}

.blog .blog__item .blog__footer {
  display: flex;
  padding: 15px;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  text-transform: uppercase;
  font-weight: 400;
  font-size: 14px;
}

.blog .blog__item .blog__footer i {
  vertical-align: middle;
  color: rgb(245, 95, 141);
  font-size: 22px;
}

.blog .blog__item .blog__footer span {
  color: rgb(245, 95, 141);
}

.blog .blog__item .blog__footer p:first-child {
  margin-right: 20px;
}

/* FOOTER CSS */
footer {
  background-image: url(./../img/bg4.png);
  height: auto;
  background-position: center;
  background-color: #0e1b1f;
  background-size: contain;
  color: #fff;
  font-size: 15px;
  background-repeat: no-repeat;
  position: relative;
}

footer::before {
  content: "";
  background-image: url(./../img/pattern2.png);
  background-position: left top;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

footer .footer__top {
  position: relative;
  padding: 50px 60px;
  background-color: #fff;
  border-radius: 10px;
  color: black;
  box-shadow: 0 0px 30px 0 rgba(0, 0, 0, 0.1);
  background-image: url(./../img/pattern3.png);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 100%;
  display: flex;
}

footer .footer__top .footer__text,
footer .footer__top .footer__form {
  width: 50%;
}

footer .footer__top .footer__text h2 {
  font-size: 28px;
  color: #262626;
}

footer .footer__top form {
  display: flex;
}

footer .footer__top form input {
  padding: 20px 20px;
  font-size: 15px;
  font-weight: 400;
  color: #888;
  background: #fff;
  flex: 1 1 auto;
  border-radius: 0.5rem 0 0 0.5rem;
  border: 1px solid #fff;
  outline: none;
  transition: all 0.5s;
}

footer .footer__top form input:hover,
footer .footer__top form input:focus {
  border-color: #f55f8d;
}

footer .footer__top form button {
  padding: 20px 35px;
  font-size: 20px;
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  background-size: 200%;
  border-color: transparent;
  border-radius: 0 0.5rem 0.5rem 0;
  color: white;
  cursor: pointer;
  transition: all 0.5s;
}

footer .footer__top form button:hover {
  background-position: right center;
}

footer .footer__top form button:hover i {
  animation: toLeftFromRight 0.5s forwards 0s 1;
}

footer .footer__bottom {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 70px 0px;
  position: relative;
}

footer .footer__bottom ul {
  list-style: none;
}

footer .footer__bottom a {
  text-decoration: none;
  color: white;
}

footer .footer__bottom .footer__contact ul li {
  padding: 0.5rem 0px;
  display: flex;
  align-items: center;
}

footer .footer__bottom .footer__contact .footer__sub-icon {
  height: 40px;
  width: 40px;
  line-height: 40px;
  margin-right: 10px;
  text-align: center;
  display: block;
  background: linear-gradient(
    to right,
    rgb(245, 95, 141) 0px,
    rgb(248, 174, 86) 51%,
    rgb(245, 95, 141) 100%
  );
  border-radius: 50px;
}

footer .footer__bottom .footer__link h3 {
  font-size: 24px;
  font-weight: 700;
  padding-bottom: 10px;
  margin-bottom: 30px;
  position: relative;
  color: rgb(255, 255, 255);
}

footer .footer__bottom .footer__link h3::before,
footer .footer__bottom .footer__link h3::after {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 0px;
  height: 4px;
  border-radius: 20px;
  background: linear-gradient(
      to right,
      rgb(245, 95, 141) 0px,
      rgb(248, 174, 86) 51%,
      rgb(245, 95, 141) 100%
    )
    0% 0% / 200% auto;
}

footer .footer__bottom .footer__link h3::before {
  width: 15px;
}

footer .footer__bottom .footer__link h3::after {
  width: 45px;
  left: 20px;
}

footer .footer__bottom .footer__link li {
  padding: 0.5rem 0px;
}

footer .footer__bottom .footer__link li a {
  color: rgb(99, 99, 99);
  font-size: 16px;
  transition: 0.5s;
}

footer .footer__bottom .footer__link li a:hover {
  color: white;
}

footer .footer__copy {
  background-color: rgb(31, 52, 59);
  position: relative;
  padding: 10px 0px;
}

footer .footer__copy .footer__content {
  display: flex;
  justify-content: space-between;
}

footer .footer__copy .footer__content p span {
  color: #f55f8d;
}

footer .footer__copy .footer__content a {
  height: 32px;
  width: 32px;
  line-height: 32px;
  text-align: center;
  display: inline-block;
  font-size: 14px;
  color: white;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50px;
  transition: 0.5s;
}

footer .footer__copy .footer__content a:hover {
  background-color: #f55f8d;
}

/* ANIMATION CSS */
@keyframes upToDown {
  0% {
    opacity: 1;
  }
  50% {
    transform: translateY(100%);
  }
  55% {
    opacity: 0;
    transform: translateY(-100%);
  }
}

@keyframes toLeftFromRight {
  49% {
    transform: translateX(100%);
  }
  50% {
    opacity: 0;
    transform: translateX(-100%);
  }
}

@keyframes move {
  0% {
    transform: rotate(1deg) translate(2px, 2px);
  }
  50% {
    transform: rotate(-1deg) translate(-2px, -2px);
  }
  100% {
    transform: rotate(1deg) translate(2px, 2px);
  }
}
